@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #222;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav i {
    font-size: 22px;
    margin-left: 8px;
}

nav li {
    float: left;
    margin: 8px 12px;
    list-style: none;
}

.menu li a:hover{
    color: #017143;
}

.user_menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


.main {
    background-image: url("image/1.jpg");
    width: 100%;
    height: 500px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}