@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@400;500;600&display=swap');

:root {
    --accent-color: #fa3c84;
    --background-color : #e7e7e7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

#featured {
    margin-top: 100px;
}

/* -------------- header sticky -------------*/

.navbar {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    /*padding: 40px 100px;*/
    z-index: 10000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;

    padding: 8px 12px;
    z-index: 10000;
}

.navbar.sticky {
    /*padding: 10px 30px;*/
    /*background: var(--background-color);*/
}

/*.navbar.sticky li a {*/
/*    color: #fff;*/
/*}*/

/* ----------navbar -------------- */
.logo img{
    width: 80px;
}

.navbar {

}

ul {
    list-style: none;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding : 8px 12px;
}
.menu li :hover {
    color: var(--accent-color);
}


/* ------------- user menu ------------ */

.icons {
    position: relative;
    display: flex;
    color: #333;
    list-style: none;
    padding-left: 0;
}

.icons li {
    padding : 8px 12px;
}

.icons i {
    font-size: 24px;
}

.profile {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transform: translateY(15%);
}

.profile img {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    transform: translate(-20px,-20px);
}

.user_menu {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.user_menu.active {
    visibility: visible;
    opacity: 1;
}

.user_menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.user_menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;
}

.user_menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.user_menu ul li{
    font-size: 14px;
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.04);
    direction: flex;
    align-items: center;
    justify-content: center;
}

.user_menu li a{
    text-decoration: none;
}

.user_menu ul li i{
    max-width: 20px;
    margin-right: 20px;
    opacity: 0.5;
    transition: 0.5s;
    padding: 8px 12px;
}

.user_menu ul li:hover i{
    opacity: 1;
}

.user_menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.user_menu ul li a:hover {
    color: #ff0057;
}


/* ---------------- */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
    margin: 10px 7%;
}


.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    max-height: 100vh;
    padding: 50px 0;
    display: block;
    margin: 0 auto;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: var(--accent-color);
}


/* product */
.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}


h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.fas, .far{
    color: var(--accent-color);
}

/* ----------------- offer --------------- */

.offer {
    background-image: url("image/GucciKai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding: 30px 0;
}

.col-5 {
    color: #fff;
}

.col-5 h1 {
    color: #BD9302;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-5 p {
    color: #fff;
    opacity: 0.7;
}

small {
    color: #fff;
}

/* ----------------- testimonial --------------- */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* ----------------- brand --------------- */

.brands {
    margin: 100px auto;
}

.col-6 {
    width: 160px;
}

.col-6 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-6 img:hover {
    filter: grayscale(0%);
}

/* ----------------- footer --------------- */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,
.footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-3 img{
    width: 100px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}



.app-logo {
    margin-top: 20px;
}

.app-logo i {
    margin: 8px 12px;
    color: #8a8a8a;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.footer-col-1 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer .follow_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer .follow_icons  i {
    color: #e7e7e7;
    font-size: 20px;
    margin: 8px 12px;
}

.footer  .download_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer  .download_icons i {
    color: #e7e7e7;
    font-size: 20px;
    margin: 20px 12px;
}

.footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: .5rem;
}

/* ----------------- icons --------------- */

.icons i {
    color: #333;
    margin: 8px 12px;
    cursor: pointer;
}

.tooggleBtn {
    display: none;
    color: #333
}

/* ----------------- search --------------- */

.faq_search {
    position: relative;
    width: 300px;
    height: 40px;
}

.faq_search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #333;
    background: transparent;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 0 10px 0 45px;
}

.faq_search input::placeholder{
    color: #333;
}

.faq_search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #333;
    border-right: 1px solid #333;
    padding-right: 10px;
}




/* ----------------- media query for menu --------------- */

@media only screen and (max-width: 800px) {

    .menu ul {
        position: relative;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
    }

    .menu ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user_menu ul li{
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .user_menu ul li i {
        display: inline-block;
        align-items: center;
        justify-content: center;
    }


    nav ul li a{
        color: #fff;
    }

    .icons {
        display: flex;
    }

    .icons i {
        display: block;
        cursor: pointer;
    }

    .icons img {
        display: block;
        cursor: pointer;
    }

    .tooggleBtn {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
    }


    .menu.active {
        display: flex;
        align-items: center;

        width: 100%;
        height: calc(100% - 68px) ;
        max-height: 300px;
        position: fixed;
        top: 68px;
        left:0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #333;
    }

}

@media only screen and (max-width: 680px) {
    .footer .row {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, 1fr));
    }
}