.swiper-container {
    width: 70%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;

}

.swiper-button-next,
.swiper-button-prev {
    color: #e7e7e7;
    opacity: 0.6;
}