@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
    --main-color : #e02f6b;
    --blue : #0000ff;
    --blue-dark : #18293c;
    --orange : #ffa500;
    --green-yellow : #cddc39;
    --pink-light : #efa2b4;
    --cyan-light : #aef1ee;
    --white : #ffffff;
    --white-alpha-40 : rgba(255, 255, 255, 0.40);
    --white-alpha-25 : rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur : blur(5px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow: hidden;
}




/* Background Imgaes */
.bg-img1 img{
    position: absolute;
    max-width: 300px;
    animation: bouneTop 8s ease-in-out infinite;
    right: -100px;
    top: 100px;
}

.bg-img2 img{
    position: absolute;
    max-width: 300px;
    animation: bouneTop 8s ease-in-out infinite;
    left: 1300px;
    top: 800px;
    animation: spin 60s linear infinite;
}

/* Background Circles */
.bg-circles {
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}

.bg-circles div {
    position: absolute;
    border-radius: 50%;
}
.bg-circles .cicle-1 {
    height: 60px;
    width: 60px;
    background-color: var(--blue);
    left: 5%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
}
.bg-circles .cicle-2 {
    height: 80px;
    width: 80px;
    background-color: var(--main-color);
    left: 30%;
    top: 50%;
    opacity: 0.2;
    animation: bouneTop 8s ease-in-out infinite;
}
.bg-circles .cicle-3 {
    height: 200px;
    width: 200px;
    background-color: var(--blue-dark);
    right: -10px;
    top: 40%;
    opacity: 0.1;
}
.bg-circles .cicle-4 {
    height: 50px;
    width: 50px;
    left: -30px;
    top: 80%;
    opacity: 0.6;
    animation: colorChange 10s linear infinite;
}










.glass{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.glass .color {
    position: absolute;
    filter: blur(150px);
}

.glass .color:nth-child(1){
    top: -230px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--main-color);
}

.glass .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #511378;
}

.glass .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--green-yellow);
}
.glass .color:nth-child(4){
    bottom: 300px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00a4e4;
}


/* content */
.wrapper {
    position: absolute;
    width: 98%;
}

/* square */
.wrapper .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%, 100%
    {
        transform: translateY(-40%);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.wrapper .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.wrapper .square:nth-child(2){
    top: 150px;
    left: -0px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.wrapper .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.wrapper .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.wrapper .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

/* Header */
header {
    width: 100%;
    padding: 40px 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

header .logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}

/* Navigation */
header .menu ul li{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child{
    margin-right: 0;
}
header .menu ul li a{
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li a:hover{
    color: #D1B6E1;
}
header .menu ul li.active a{
    color: #D1B6E1;
}
/* hover effect */
.small-ball {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: 20px;
    top: -30px;
    animation: bounceBall 1.5s linear infinite ;
    visibility: hidden;
    
}
.small-ball.active {
    visibility: visible;
}

/* HEADER BUTTON */
header .menu ul li.btn a{
    background-color: #D1B6E1;
    color: #fff;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header .menu ul li.btn a:hover{
    background-color: #9055A2;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.7s;
}

/* CONTAINER */
.home .container {
    max-width: 1266px;
    margin: 0 auto;
}

/* MY IMAGE */
.home .person {
    float: right;
    margin: 70px 100px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
    animation: bouneTop 15s linear infinite;
}
.person img {
    max-height:600px;
}


/* INTRODUCE TEXT */
.home-text{
    color: #333;
    margin-top: 220px;
    position: absolute;
}
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}
.home-text h1{
    text-transform: uppercase;
    font-size: 100px;
}
.home-text p{
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

/* LETTERING JS */
.home-text .name span {
    margin-right: 130px;
    display: inline-block;
}
.home-text .name span:last-child {
    margin-right: 0;
}

/* AMINE JS */
.home .person-overlay{
    content:'';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff rgba(255, 255, 255, 0.8);
    z-index: 99;
}

/* DEFAULT STATE HIDE */
.home .person img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span {
    opacity:0;
}




/* Animation Keyframes */
@keyframes fadeIn {
    0% {
        opacity : 0;
    }
    100% {
        opacity: 1;
    }

}
@keyframes fadeOut {
    0% {
        opacity : 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes bouneTop {
    0%, 100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0px);
    }
}
@keyframes spin{
    0% {
        transform : rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange{
    0%, 100% {
        background: var(--main-color);
    }
    50% {
        background:var(--orange);
    }
}
@keyframes bounceBall{
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0px);
    }
}