* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #111;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;

    box-shadow: 0 15px 50px rgba(0,0,0, 0.2);
    filter: blur(2px);
    background: #d1ebff;
    border-radius: 10px;
}
.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

.itemBox {
    position: relative;

    /* box 안에 이미지를 넣으려면 가로세로 길이 지정 x */
    /*width: 300px;*/
    /*height: 400px;*/

    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: (255,255,255,0.2);
}

.itemBox img {
    display : block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;

}