@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Serif+KR:wght@400;500;600&display=swap');

:root {
    --accent-color: #fa3c84;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

/* ----------navbar -------------- */
.logo img{
    width: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: var(--var-color);*/
    padding: 8px 12px;
}

/*nav {*/
/*    flex: 1;*/
/*    flex-direction: column;*/
/*    text-align: right;*/
/*}*/

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/* ---------------- */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
    margin: 10px 7%;
}


.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    max-height: 100vh;
    padding: 50px 0;
    display: block;
    margin: 0 auto;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-family: 'Poppins', sans-serif;
}

.btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover {
    background: var(--accent-color);
}

.header {
    background: radial-gradient(#fff, #e7e7e7);
}

.header .row {
    margin-top: 70px;
}

/* product */
.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/*
.title::after {
    content: '';
    background: var(--accent-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
*/


h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.fas, .far{
    color: var(--accent-color);
}

/* ----------------- offer --------------- */

.offer {
    background-image: url("image/GucciKai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    padding: 30px 0;
}

.col-5 {
    color: #fff;
}

.col-5 h1 {
    color: #BD9302;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-5 p {
    color: #fff;
    opacity: 0.7;
}

small {
    color: #fff;
}

/* ----------------- testimonial --------------- */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img{
    width: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* ----------------- brand --------------- */

.brands {
    margin: 100px auto;
}

.col-6 {
    width: 160px;
}

.col-6 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-6 img:hover {
    filter: grayscale(0%);
}

/* ----------------- footer --------------- */

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2,
.footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo i {
    margin: 8px 12px;
    color: #8a8a8a;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

/* ----------------- icons --------------- */

.icons i {
    color: #333;
    margin: 8px 12px;
    cursor: pointer;
}

.tooggleBtn {
    display: none;
    color: #333
}

/* ----------------- media query for menu --------------- */

@media only screen and (max-width: 800px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }

    .icons {
        display: flex;
    }

    .icons i {
        display: block;
        cursor: pointer;
    }

    .tooggleBtn {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }


    .menu.active {
        display: flex;
        width: 100%;
        align-items: center;
        transition: visibility 0.5s;
    }

}