@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}
body {
    background: #000;
}

/* header */
header {
    padding: 40px 50px;
}
header .logo {
    float: left;
}
header .menu{
    float: right;
}
header .menu ul li{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child{
    margin-right: 0;
}
header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li a:hover{
    color: #fff700;
}

/* HEADER BUTTON */
header .menu ul li.btn a{
    background-color: #fff700;
    color: #000;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header .menu ul li.btn a:hover{
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* CONTAINER */
.home .container {
    max-width: 1266px;
    margin: 0 auto;
}

/* MY IMAGE */
.home .person {
    float: right;
    margin: 70px 180px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

/* INTRODUCE TEXT */
.home-text{
    color: #fff;
    margin-top: 220px;
    position: absolute;
}
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}
.home-text h1{
    text-transform: uppercase;
    font-size: 100px;
}
.home-text p{
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

/* LETTERING JS */
.home-text .name span {
    margin-right: 130px;
    display: inline-block;
}
.home-text .name span:last-child {
    margin-right: 0;
}

/* AMINE JS */
.home .person-overlay{
    content:'';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #525252;
    z-index: 99;
}

/* DEFAULT STATE HIDE */
.home .person img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span {
    opacity:0;
}