@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    word-break: keep-all;
    line-height: 1.2;
    color: #333
        }

    #survey .survey-contents-inner .survey-start {
    text-align: left;
    }

    #survey .survey-wrap .survey-contents .survey-contents-inner {
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 940px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 8%);
    box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 8%);
    }


    #survey {
    height: 100%;
    min-height: 100%;
    background-color: #fafafa;
    }
    a, abbr, address, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline;
    } 

    #survey .survey-contents-inner .survey-start {
    text-align: left;
    }

    #survey .survey-contents-inner .survey-start .start-header {
    position: relative;
    margin: auto;
    width: 418px;
    height: 286px;
    }

    /* 아이콘  */
    survey .survey-contents-inner .survey-start .start-header .icon {
    margin-top: 60px;
    }
    .icon.icon-survey-pilly-logo {
        width: 60px;
        height: 60px;
        background-image: url(/images/icons/survey/icon-survey-pilly-logo.png);
        background-size: 60px;
    }
    .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    /* 제목 */
    #survey .survey-contents-inner .survey-start .start-header h2 {
    margin-top: 32px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    }

    h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

    .light {
    font-weight: 300 !important;
    }

    /* 설명 */
    #survey .survey-contents-inner .survey-start .start-intro {
    position: relative;
    margin: auto;
    width: 418px;
    }

    #survey .survey-contents-inner .survey-start .start-intro>p {
    line-height: 24px;
    font-size: 16px;
    color: #333;
    }

    #survey .survey-contents-inner .survey-start .start-intro>p span {
    font-size: 12px;
    color: #848484;
    }

    /* 버튼 */
    button {
    width: 418px;
    }
    .btn.btn-dark, .btn.btn-colored {
        line-height: 50px;
    }
    .btn-dark {
        background-color: #333;
        border: none;
        color: #fff;
    }
    .btn-radius {
        border-radius: 25px;
    }
    .btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        padding: 0 36px;
        min-width: 74px;
        height: 50px;
        line-height: 48px;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        outline: none;
        border: 1px solid #d7d7d7;
        background-color: #fff;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #survey .survey-contents-inner .survey-start .start-intro .btn-wrap {
    margin-top: 120px;
    }

    #survey .survey-contents-inner .survey-start .start-intro p.warning {
    margin-top: 28px;
    font-size: 12px;
    color: hsl(0, 0%, 52%)
    }

    

    #survey .survey-wrap .survey-contents .survey-contents-inner .close-survey img {
    margin-top: 18px;
    vertical-align: top;
}
img {
    max-width: 100%;
    height: auto;
}

#btn-start {
    border-radius: 50px;
}