html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section {
    position: relative;
    width: 100%;
    height: 100%;
  } */

/* section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: rgba(0,0,0,0.4);
    transition: background 0.2s;
    will-change: background;
} */

/* section별 배경 이미지 */
#sec1 { background: url(https://picsum.photos/1200/800?image=575) center center / cover no-repeat;}
#sec2 { background: url(https://picsum.photos/1200/800?image=1016) center center / cover no-repeat;}
#sec3 { background: url(https://picsum.photos/1200/800?image=869) center center / cover no-repeat;}
#sec4 { background: url(https://picsum.photos/1200/800?image=506) center center / cover no-repeat;}
#sec5 { background: url(https://picsum.photos/1200/800?image=1037) center center / cover no-repeat;}
#sec6 { background: url(https://picsum.photos/1200/800?image=901) center center / cover no-repeat;}

/* section 위 글자 */
section:before {
    content: attr(data-text);
    color: #262626;
    font-size: 8em;
    text-transform: uppercase;
    font-weight: bold;
}
