@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    background: #ffc107;
    padding: 50px;
}