@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    /*background-image: url("image/1.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

/* 상단 nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

/* navbar__menu */
nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.menu a:active {
    background-color: black;
    color: white;
}

/* navbar__logo*/

.logo {
    color: #000000;
    font-size: 22px;
}

.active {
    font-weight: bold;
    color: darkgreen;
}

.text-container {
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container p:nth-child(2){
    letter-spacing: 2px;
    color: #1a1a1a;
}

.text-container p:nth-child(3){
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 0;
    margin: 45px 0 25px;
}

button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

button:active {
    transform: scale(1.1);
}

.hire-btn {
    border: 2px solid #373636;
    color: #373636;
}

.down-cv {
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

/* model */

.model {
    height: 560px;
    position: absolute;
    bottom: 0;
    left: 70%;
    transform: translate(-30%, -30%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 250px;
}
.about-container text{
    width: 250px;
}
.about-container p:nth-child(1) {
    color: #403e3e;
    font-weight: bold;
    font-size: 23px;
    line-height: 0;
}
.about-container p:nth-child(2) {
    color: #3e3d3d;
    font-weight: bold;
    font-size: 13px;
    line-height: 5px;
}

.about-container p:nth-child(3),
.about-container p:nth-child(4){
    color: #7e7d7d;
    font-size: 16px;
}

.about-text button {
    margin: 12px 12px;
    width: 120px;
    height: 40px;
    outline: none;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

.services {
    height: 600px;
    background-color: #ffffff;
}

.services-text p:nth-child(1) {
    color: #3e3d3d;
    font-weight: bold;
    font-size: 30px;
    line-height: 0;
}

.services-text p:nth-child(2) {
    color: #3e3d3d;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
}

.services-text p:nth-child(3),
.services-text p:nth-child(4){
    color: #7e7d7d;
}

services-text {
    width: 500px;
    margin: 50px 0px;
}

.box {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px;
}
p {
    margin: 10px 10px;
}

#box-1 {
    background-image: url("image/4.jpg");
}

#box-2 {
    background-image: url("image/2.jpg");
}

#box-3 {
    background-image: url("image/3.jpg");
}

.box .content {
    visibility: hidden;
}

.box:hover .content {
    visibility: visible;
    transition: 1s;
}

.content span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    opacity: 0.5;
}

.content p:nth-child(2) {
    color: #ffffff;
    font-size: 13px;
    line-height: 0;
    opacity: 0.5;
}

.content p:nth-child(3){
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    width: 230px;
    margin: 0 0 20px 0px;
    opacity: 0.5;
}

.content button{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: 0.5;
}

.contact-me {
    width: 100%;
    height: 280px;
    background-image: url("image/5.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

.contact-me button {
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
}

footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}
footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons i {
    color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i,
.a-social-b a:hover i{
    color: #ffffff;
    transition: all ease 0.5s;
}

.copyright {
    color: #565555;
    font-size: 15px;
    position: relative;
    text-align: center;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.a-social-b {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
}

.a-social-b a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    line-height: 0;
    background-color: #ffffff;
    border: 12px 2px 12px rgba(0,0,0,0.2);
}

.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}


