@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow: hidden;
}
.glass{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(to bottom, #f1f4f9, #dff1ff);*/
    background: linear-gradient(to bottom, #000, #000);
}
.glass .color {
    position: absolute;
    filter: blur(150px);
}

.glass .color:nth-child(1){
    top: -350px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #c1d82f;
}

.glass .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #511378;
}

.glass .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #00a4e4;
}




/* content */
.wrapper {
    position: absolute;
    width: 98%;
}

/* square */
.wrapper .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes animate {
    0%, 100%
    {
        transform: translateY(-40%);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.wrapper .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.wrapper .square:nth-child(2){
    top: 150px;
    left: -0px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.wrapper .square:nth-child(3){
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.wrapper .square:nth-child(4){
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
.wrapper .square:nth-child(5){
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

/* Header */
header {
    width: 100%;
    padding: 40px 50px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
header .logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li{
    display: inline-block;
    margin: 0 20px;
}
header .menu ul li:last-child{
    margin-right: 0;
}
header .menu ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease 0.5s;
}
header .menu ul li a:hover{
    color: #fff700;
}

/* HEADER BUTTON */
header .menu ul li.btn a{
    background-color: #333;
    color: #fff;
    padding: 14px 27px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
header .menu ul li.btn a:hover{
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* CONTAINER */
.home .container {
    max-width: 1266px;
    margin: 0 auto;
}

/* MY IMAGE */
.home .person {
    float: right;
    margin: 70px 100px 0;
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
}

/* INTRODUCE TEXT */
.home-text{
    color: #fff;
    margin-top: 220px;
    position: absolute;
}
.home-text h6{
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}
.home-text h1{
    text-transform: uppercase;
    font-size: 100px;
}
.home-text p{
    max-width: 500px;
    font-size: 16px;
    margin-top: 230px;
}

/* LETTERING JS */
.home-text .name span {
    margin-right: 130px;
    display: inline-block;
}
.home-text .name span:last-child {
    margin-right: 0;
}

/* AMINE JS */
.home .person-overlay{
    content:'';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff rgba(255, 255, 255, 0.8);
    z-index: 99;
}

/* DEFAULT STATE HIDE */
.home .person img,
.student span,
.name span,
.logo,
.menu li,
.small-intro span {
    opacity:0;
}

