@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
}

section ul {
    display: flex;
    margin-bottom: 10px;
}

section ul li {
    list-style: none;
    background: #eee;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section ul li.active {
    background: #03a9f4;
    color: #fff;
}

.product {
    display: flex;
    flex-wrap: wrap;
    /* flex-item 요소들이 강제로 한줄에 배치되게 할 것인지,
    또는 가능한 영역 내에서 벗어나지 않고 여러행으로 나누어 표현 할 것인지
    결정하는 속성입니다. */
}

.product .itemBox {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.product .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

